html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
/*
img{
	max-width:100%;
	height: auto;
   	width: auto\9; // ie8 
}
*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
	
}

@media only screen and (max-width: 767px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	header {margin-top: 0px;//height:150px;}
	header #logo{top:60px;}

	nav .wrap-nav{top: 10px; left:10px; right:auto;}
	
	.menu{display:none;}
	.minimenu{display:block;width:12%;float:right;}
	.minimenu select option{width:100%;}
	.minimenu img {
		//width: 100%;
	}
	#mainImg{display:block;width:80%;float:left;}

	#menuAlt{
		display: block;
	}
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	#contactForm{
		margin-left: 1%; 
		width: 96.5%;

	}
	#contactNameTA, 
	#contactEmailTA, 
	#contactSubjectTA, 
	#contactBodyTA {
		width: 97%;
	}
		
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (max-width: 479px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	//header{height: 15%;}
	//header #logo{top: 100px;}

	

	
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	body{width: 97%;}
	.featured {padding-top: 3%;padding-bottom: 0.5%;}
	
	.subSocialMediaContainer{width:75%;}
	
	#contactNameTA, 
	#contactEmailTA, 
	#contactSubjectTA, 
	#contactBodyTA {
		width: 97%;
	}
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (max-width: 370px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */

	
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */



	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}