/* -------------------------------------------- */
/* ------------------Reset--------------------- */

body {
	width: 100%;
	height:100%;
	left:  0;
	top:  0;
	margin: 0;
	overflow-x:  hidden;
	border: 1px solid black;
	//background-color: #4AD7D1;
	background: linear-gradient(to left, #001730 6%, #001730 12%, #001730 60%, #001730 85%, #4AD7D1 99%);
	//background-color
}
p{
	margin: 0;
	padding: 0;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; /* ie8 */
}
/* -------------------------------------------- */
/* ------------------Header-------------------- */

header { 
	//margin: 0 auto; 
	//overflow: auto;
	overflow: hidden;
	height: 100px;
	width: 100%;

	position:  sticky;
	top: 0;
	z-index: 3;
		background: linear-gradient(to left, #001730 6%, #001730 12%, #001730 60%, #001730 85%, #4AD7D1 99%);
}

.wrap-nav{
	width:  100%;
	margin:  0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
	//border: 2px solid black;	
	//border-radius: 1%;
 
}

.menu{
	width:  100%;
	//margin:  0 auto;
	//margin-left: auto;
	//margin-right: auto;
	//overflow: auto;
	//overflow-x:  hidden;
	//overflow-y: hidden;
}
.menuRight{
	float:  right;
	color: white;
}
#menuAlt{
	display: none;
}

nav {
	//overflow:  hidden;
	width: 100%;
	//background-color: #001730;
	position:  sticky;
	position:  -webkit-sticky;
	top: 0;
	background: linear-gradient(to left, #001730 6%, #001730 12%, #001730 60%, #001730 85%, #4AD7D1 99%);
}
ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  //background-color: #001730;
  background-color: transparent;
  //background: linear-gradient(to left, #001730 6%, #001730 12%, #001730 85%, #4AD7D1 99%);
}

li {
  float: left;
  padding-top: 15px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  //padding-top: 14px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.minimenu {
	display:none;
}
.minimenu {
	position: relative;
	margin: 0px;
	background:#333333;
}
.minimenu div { 
	overflow: hidden;
	position: relative;
	font: 18px/37px 'PT Sans Narrow';
	color: #fff;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
}
.minimenu select {
	position: absolute; 
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%; 
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);	
	cursor: pointer;
}
#menulogo {
	width: 12%;
	font-size: 1.5rem;
	font-family: sans-serif;
	//margin: 0;
	padding-top: 13px;
	//background-color: transparent;
	//top: ;
}


main{
	height:  100%;
	width:  100%;
	margin:  0;
}

aside{
	visibility: visible;
	width: 17%;
	height: 100%;
	float:  right;
	display: block;
	margin: 0 auto;	
	margin-right: 1%;
	//padding-right:  1%;
	//padding-left:  1%;
	//background-color: #4AD7D1;
	//background: linear-gradient(to left, #C6AD8F 6%,  #4AD7D1 99%);
	background: linear-gradient(to left, white 6%, white 12%, white 60%, white 85%, #4AD7D1 99%);
	border: 1px solid black;
	//overflow: hidden;
	position:  sticky;
	position:  -webkit-sticky;
	top: -45%;
	z-index: 3;
}

aside #authorContent{
	margin:5%;
}

#main {
	width:  77%;
	height: 100%;
	display: block;
	margin: 0 auto;	
	background-color: transparent;
	//border: 1px solid red;
	overflow: hidden;
}
#content{
	height: 100%;
	width:  100%;
	margin:  0 auto;
	overflow: hidden;
	//border: 1px solid yellow;
	background-color: transparent;
	//background-color: #DDEDF4;

}

.main_1 {
	width: 100%;
	height: 100%;	
	margin: 0;
	display: block;
	overflow: auto;
	overflow-x:  hidden;
	overflow-y: hidden;
	//border: 1px solid red;	
	background-color: #CFEFDA;
	
}
.main_2 {
	width: 100%;
	height:100%;
	float: left;
	margin: 0;

	display: block;
	overflow: auto;
	overflow-x:  hidden;
	overflow-y: hidden;
	//border: 1px solid yellow;	
}
.main_3 {
	width: 100%;
	height:100%;
	display: block;
	margin:  0;
	padding: 2%;
	//border:  1px solid red;
	//border-radius: 1%;
	overflow: hidden;
	overflow-x:  hidden;
	overflow-y: hidden;

	margin-top: 2%;
	margin-bottom: 2%;
	//background-color: #FFFFFF;
	background: linear-gradient(to left, #F9F9EB 6%, #F9F9EB 12%, white 85%, white 99%);
}

#main_3_author {
	width: 100%;
	height:100%;
	//visibility: visible;
	display: none;
	margin:  0;
	//border:  1px solid red;
	//border-radius: 1%;
	overflow: hidden;
	//margin-top: 2%;
	//margin-bottom: 2%;
	//background-color: #FFFFFF;
	background: linear-gradient(to left, #F9F9EB 6%, #F9F9EB 12%, white 85%, white 99%);
}

#main_3_author #authorImg {
	float: left;
	width: 5%;
	max-height:  100%;
	top: 0;
	margin:  0 auto;
	padding:  0;
	display: flex;
	//border:  1px solid red;
}
#main_3_author #authorImg img {
	//float: left;
	//top: 0;
	//margin:  0;
	//width: 32%;
	//height:  80%;
	//position:inherit;

}

#main_3_author #authorDescription {
	float: left;
	width: 59%;
	height: 100%;
	border:  1px solid red;
	margin:  0 auto;
	text-align: center;
	

}
#main_3_author #authorDescription p {
	text-align: center;
	vertical-align: center;
	margin: 0 auto;
	padding-top: 4%;
	font-size: 80%;
	font-style: italic;
		-ms-transform: translateY(15%);
  	transform: translateY(15%);
}
#main_3_author #authorLinks {
	float: right;
	width: 29%;
	height: 100%;
	max-height: 100%;
	border:  1px solid red;
	margin:  0 auto;
	vertical-align: center;
}
#main_3_author #authorLinks p {
	text-align: center;
	vertical-align: center;
	margin: 0 auto;
	padding-top: 4%;
	font-size: 80%;
	-ms-transform: translateY(70%);
  	transform: translateY(70%);
}

#main_3_author article #imgDiv {

	width: 5%;

}
#main_3_author article img {
	width: 100%;
	max-height:  100%;
	
}
#main_3_author article #imgDiv {

	width: 90%;
}



.main_3 hr{
	float: left;
	width: 59%;
	height: 10%;	

}
.main_3 h1{
	font-size: 1.5em;
}
.main_3 p {
	padding: 0;
}
.main_3 h1, .main_3 p{
	float: left;
	width: 85%;
	height: 10%;
}
.main_3 button{
	float: right;
	width: 5%;
	margin-right: 3%;
	//height: 20%;

	background-color: transparent;
	border-radius: 50%;
	border: 1px solid lightblue;	
}
.main_3 button:hover{
	float: right;
	width: 10%;
	
}

#singingTips {
	height:100%;
	width:  100%;	
	//background-color: white;

}

article {
	//padding: 2%;
}
/* -------------------------------------------- */
/* ------------------Content------------------- 
.wrap-content{
	//background-color:#000; 
	//border: 3px solid black;
	//border-bottom: 3px solid gold;
	//border-radius: 1%;
	//margin-top: 30px; 
	//padding-top: 10px;
	//padding-bottom: 15px;
}
.contentContainer{
	//background-color: yellow;
	margin: auto;
	width: 100%;
	display: inline-block;
}
.block01 {text-align:center; padding-bottom:30px; }
.block01 img{border:5px solid #CCCCCC;}
.block01 h2{font-size:20px; line-height:30px;}

.block02 {margin:10px; border-bottom:1px dashed #cccccc; border-top:1px dashed #cccccc; width: 100%;}
.block02 p { padding:30px; font-size:24px; text-align:center; line-height:30px;}
.block02 a {color:#DA251D;}

.block03 {margin:30px 0;}
.block03 h2{font-size:18px;}
.block03 img{float:left; margin-right:10px;}
*/
/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {
	background-color:#4AD7D1; 
	border-top:  5px solid black;
	//float: left;
	margin: 0 auto;
	width: 98%;

}
footer .legalNotice{
	text-align: center;
}
footer .wrap-footer{
	padding:10px 0px; 
}
footer .box{
}
footer .heading { 
	padding:5px;
}
footer .heading h2{
	font-size:22px; 
	font-weight:normal; 
	display:inline; 
	padding:0 5px;
}
footer .content {
	padding:5px
}
footer .content a{
	color:#DA251D; 
	text-decoration:none;
}
footer .content .gallery img { 
	float:left; 
	padding:5px; 
	border:1px solid #CCC; 
	margin:5px;
}
.copyright {
	text-align:center; 
	margin-top:20px;
}
.copyright a {
	text-decoration:underline;
}



 
